<nav class="taille  navbar-expand-lg  bg-primary align-items-start">
  <button class=" navbar navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-logo">
    <a href="{{ path('main') }}">
      <img src="{{ asset('assets/uploads/Logo.png') }}" alt="Logo" class="logo">
    </a>    
  </div>
  <div class="collapse navbar-collapse marge" id="navbarNav">
    {% set categories = categories() %}
    <ul class="navbar-nav flex-column">
      {% for category in categories %}
        <li class="nav-item">
          {% if category.parent == null %}
            <h2 class="category-item">{{ category.name }}</h2>
          {% else %}
            <a href="{{ path('categories_list', {slug: category.slug}) }}" class="btn btn-primary mt-3 "><h2 class="category-items">{{ category.name }}</h2></a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>