<nav class="taille navbar-expand-lg bg-primary">
  <div class="navbar-logo-custom">
    <a href="{{ path('main') }}">
      <img src="{{ asset('assets/uploads/Logo.png') }}" alt="Logo" class="logo">
    </a>    
  </div>
  <div class="categoriesNav" id="navbarNav">
    {% set parentsCategories = parentsCategories() %}
    {% set childsCategories = childsCategories() %}

    {% for parentCategory in parentsCategories %}
      <ul class="navbar-nav flex-column categoriesItems">
        <li class="nav-item">
          <h2 class="category-item">{{ parentCategory.name }}</h2>
        </li>
        {% for childCategory in childsCategories %}
          {% if childCategory.parent == parentCategory.name %}
            <li class="nav-item">
              <a href="{{ path('categories_list', {slug: childCategory.slug}) }}" class="btn btn-primary categoriesLinks"><h2 class="category-items">{{ childCategory.name }}</h2></a>
            </li>
          {% endif %}
        {% endfor %}

      </ul>
    {% endfor %}
  </div>
</nav>