{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
<div class="container justify-content-center ">
    {% set currentHour = "now"|date("H") %}
    {% if currentHour < 18 %}
        <h1 class="d-flex justify-content-center">Bonjour, {{ app.user.lastname }} {{ app.user.firstname }}</h1>
    {% else %}
        <h1 class="d-flex justify-content-center">Bonsoir, {{ app.user.lastname }} {{ app.user.firstname }}</h1>
    {% endif %}
    
    {{ form_start(form) }}
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_label(form.lastname) }}
        {{ form_widget(form.lastname) }}
        {{ form_label(form.firstname) }}
        {{ form_widget(form.firstname) }}
        {{ form_label(form.address) }}
        {{ form_widget(form.address) }}
        {{ form_label(form.zipcode) }}
        {{ form_widget(form.zipcode) }}
        {{ form_label(form.city) }}
        {{ form_widget(form.city) }}
        {{ form_rest(form) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
