{% extends 'base.html.twig' %}

{% block javascripts %}
		<script src="{{ asset('assets/js/carrousel.js') }}" defer></script>
{% endblock %}

{% block body %}
  <main class="container homeController">
    <div id="carouselExampleAutoplaying" class="carousel slide marge" data-bs-ride="carousel">
      <div class="carousel-indicators">
      {% for iteration in 1..carrousels|length %}
          <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="{{ iteration - 1 }}" {{ (loop.first ) ?'class="active" aria-current="true"' : '' }} aria-label="Slide {{ iteration }}"></button>
      {% endfor %}
      </div>
      <div class="carousel-inner">
        {% if carrousels %}
          {% for carrousel in carrousels %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
              <img src="{{ asset('assets/uploads/carrousel/') ~ carrousel.name }}" class="d-block w-100" alt="{{ carrousel.realname }}">
            </div>
          {% endfor %}

        {% endif %}

        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
        <section class="row mt-5 mb-5">
           
            {% for category in childsCategories %}

                    <div class="col-lg-4 col-md-6 col-12 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title">{{ category.name }}</h3>     
                                <a href="{{ path('categories_list', {slug: category.slug}) }}" class="btn btn-primary mt-3">Voir les produits</a>
                            </div>
                        </div>
                    </div>               
            {% endfor %}
        
        </section>
    </main>
    
{% endblock %}