{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12 text-center ">
                <h1>Liste des produits de la catégorie {{ category.name }}</h1>
            </div>
            {% if products is empty %}
                <div class="col-12">
                    <p>Il n'y a pas de produit dans la catégorie {{ category.name }}.</p>
                </div>
            {% else %}
                {% for product in products.data %}
                    <div class="col-lg-3 col-md-5 col-8 mb-3">
                        <article class="card lg-h-75 md-h-100">
                            {% if product.images[0] is defined %}
                                <div class="card-product-miniature">                   
                                    <img src="{{ asset('assets/uploads/products/' ~ product.images[0].name ) }}"  alt="{{ product.name }}">      
                                </div>
                            {% else %}
                                <div class="card-product-miniature noImage">                   
                                </div>
                            {% endif %}  
                            <div class="card-body">
                                <h2 class="card-title">{{ product.name }}</h2>
                                <h5>Prix : {{ (product.price / 100)|number_format(2, '.', ',') }} €</h5>

                                <a href="{{ path('products_details', {"slug": product.slug }) }}" class="btn btn-primary">Voir les détails</a>
                            </div>
                        </article>
                    </div>
                {% endfor %}
                {% set path = 'categories_list' %}
                {% set slug = category.slug %}
                {% set pages = products.pages %}
                {% set currentPage = products.page %}
                {% include "_partials/_pagination.html.twig" %}
            {% endif %}
        </section>
    </main>
{% endblock %}
